{% extends "base.html" %}
{% block content %}

	<!-- page title -->
	<section class="section section--first section--bg" data-bg="../static/img/section/section.jpg`">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="section__wrap">
						<!-- section title -->
						<h2 class="section__title">Contacts</h2>
						<!-- end section title -->

						<!-- breadcrumb -->
						<ul class="breadcrumb">
							<li class="breadcrumb__item"><a href="/">Home</a></li>
							<li class="breadcrumb__item breadcrumb__item--active">Contacts</li>
						</ul>
						<!-- end breadcrumb -->
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end page title -->

	<!-- contacts -->
	<section class="section">
		<div class="container">
			<div class="row">
				<div class="col-12 col-md-7 col-xl-8">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--mb">Contact Form</h2>
						</div>
						<!-- end section title -->

						<div class="col-12">
							<form class="form form--contacts" action="/sendmail" method="post">
								<div class="row row--form">
									{% if loggedUser %}
									<div class="col-12 col-xl-6">
										<input type="text" class="form__input" id="name" placeholder="Name" name='name' value='{{loggedUser.first_name}} {{loggedUser.last_name}}'>
									</div>
									<div class="col-12 col-xl-6">
										<input type="text" class="form__input" id="email" placeholder="Email" name='email' value='{{loggedUser.email}}'>
									</div>
									{% else%}
									<div class="col-12 col-xl-6">
										<input type="text" class="form__input" id="name" placeholder="Name" name='name'>
									</div>
									<div class="col-12 col-xl-6">
										<input type="text" class="form__input" id="email" placeholder="Email" name='email'>
									</div>
									{% endif %}
									<div class="col-12">
										<textarea id="message" class="form__textarea" name='message' placeholder="Type your message..."></textarea>
									</div>
									
									<div class="col-12">
										<button type="submit" class="form__btn">Send</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				
				<div class="col-12 col-md-5 col-xl-4">
					<div class="row">
						<!-- section title -->
						<div class="col-12">
							<h2 class="section__title section__title--mb">Info</h2>
						</div>
						<!-- end section title -->

						<div class="col-12">
							<p class="section__text">Welcome to our contact page! We're here to assist you with any questions, feedback, or inquiries you may have. Whether you want to share your thoughts, report an issue, or simply get in touch with us, we're just a message away. Feel free to reach out, and we'll respond promptly..</p>

							<ul class="contacts__list">
								<li><a href="mailto:support@moviego.com">hotfilxa@gmail.com</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- end contacts -->
	{% endblock %}