{% extends "base.html" %}
{% block content %}

<!-- details -->
<section class="section section--details">
	<!-- details content -->
	<div class="container">
		<div class="row">
			<!-- title -->
			<div class="col-12">
				<h1 class="section__title section__title--mb">{{movie['title']}}</h1>
			</div>
			<!-- end title -->

			<!-- content -->
			<div class="col-12 col-xl-6">
				<div class="card card--details">
					<div class="row">
						<!-- card cover -->
						<div class="col-12 col-sm-5 col-md-4 col-lg-3 col-xl-5">
							<div class="card__cover">
								<img src="https://image.tmdb.org/t/p/w500{{movie['poster_path']}}" alt="">
								<span class="card__rate card__rate--yellow">{{movie['vote_average']|round(1)}}</span>
							</div>
							{% if loggedUser %}
							{% if movie['id'] not in watchlist %}
							<form id="favorite" action="/watch/{{movie['id']}}" method="post">
								<input type="hidden" class="title" name="title" value="{{movie['title']}}" />
								<input type="hidden" class="release_year" name="release_year"
									value="{{movie['release_date']}}" />
								<input type="hidden" class="rating" name="rating" value="{{ movie['vote_average'] }}" />
								<button class="card___trailer" type="submit">
									<span id="nameofbutton">Add to favorites</span>
								</button>
							</form>
							{% else %}
							<form id="favorite" action="/remove/{{movie['id']}}" method="post">
								<input type="hidden" class="title" name="title" value="{{movie['title']}}" />
								<input type="hidden" class="release_year" name="release_year"
									value="{{movie['release_date']}}" />
								<input type="hidden" class="rating" name="rating" value="{{ movie['vote_average'] }}" />
								<button class="card___trailer" type="submit">
									<span id="nameofbutton">Remove</span>
								</button>
							</form>
							{% endif %}
							{% else %}
							<a class="card___trailer" href="/loginPage">
								<span id="nameofbutton" >Add to favorites</span>
							</a>
							{% endif %}
						</div>
						<!-- end card cover -->

						<!-- card content -->
						<div class="col-12 col-md-8 col-lg-9 col-xl-7">
							<div class="card__content">
								<ul class="card__meta">
									<li><span>Genre:</span>
										{% for g in movie['genres'] %}
										<a href="#">{{g['name']}}</a>
										{% endfor %}
									</li>
									<li><span>Release date:</span>{{movie['release_date']}}</li>
									<li><span>Running time:</span>{{movie['runtime']}} min</li>
									<li><span>Country:</span> <a
											href="#">{{movie['production_countries'][0]['name']}}</a></li>
								</ul>
								<div class="card__description">
									{{movie['tagline']}}
								</div>
							</div>
						</div>
						<!-- end card content -->
					</div>
				</div>
			</div>
			<!-- end content -->
			{% if trailer != "notrailer" %}
			<div class="col-12 col-xl-6 d-flex align-items-center">
				<iframe id="player" width="560" height="315" src="https://www.youtube.com/embed/{{trailer}}"
					title="YouTube video player" frameborder="0"
					allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
					allowfullscreen></iframe>
			</div>
			{% else %}
			<div>

			</div>
			{%endif%}
		</div>
	</div>
	<!-- end details content -->
</section>
<!-- end details -->

<!-- content -->
<section class="content">
	<div class="content__head" style="border-bottom: 0px;">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<!-- content title -->
					<h2 class="content__title">You may also like...</h2>
					<div class="row row--grid">
						<!-- end section title -->
						{% for rec in recommendations['results'][:18] %}
						<!-- card -->
						<div class="col-6 col-sm-4 col-md-3 col-xl-2">
							<div class="card">
								<div class="card__cover">
									<img src="https://image.tmdb.org/t/p/w500{{rec['poster_path']}}" alt="">
									<a href="/details/{{rec['id']}}" class="card__play">
										<i class="icon ion-ios-play"></i>
									</a>
									<span class="card__rate card__rate--yellow">{{rec['vote_average']|round(1)}}</span>
								</div>
								<div class="card__content">
									<h3 class="card__title"><a href="/details/{{rec['id']}}">{{rec['title']}}</a></h3>
									<span class="card__category">
										{% for g in rec['genre_ids'] %}
										<a href="/catalog/{{g}}">{{genredict[g]}}</a>
										{%endfor%}
									</span>
								</div>
							</div>
						</div>
						<!-- end card -->
						{% endfor %}
					</div>
				</div>
				<!-- end sidebar -->
			</div>
		</div>
	</div>
</section>
<!-- end content -->
<script>
	const form = document.querySelector('#favorite');
	form.addEventListener('submit', function (event) {
		event.preventDefault();
		const button = document.getElementById('nameofbutton')
		const regex = /\/watch\/\d+$/;
		str = form.action
		str = str.split('/')
		console.log(regex.test(form.action));
		if (regex.test(form.action)) {
			button.innerText = 'Remove'
			fetch(form.action, {
				method: 'POST',
				body: new FormData(form),
			})
				.then(response => {
					if (response.status === 200) {
						form.action = `/remove/${str[4]}`
					} else {
						// Error!
						// Handle the error here.
					}
				})
		} else {
			button.innerText = 'Add To Favorites'
			fetch(form.action, {
				method: 'POST',
				body: new FormData(form),
			})
				.then(response => {
					if (response.status === 200) {
						form.action = `/watch/${str[4]}`
					} else {
						// Error!
						// Handle the error here.
					}
				})
		}
	});
</script>
{% endblock %}
