{% extends "base.html" %}
{% block content %}
<!-- page title -->
<section class="section section--first section--bg" data-bg="../static/img/section/section.jpg">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="section__wrap">
					<!-- section title -->
					<h2 class="section__title">My Profile</h2>
					<!-- end section title -->

					<!-- breadcrumb -->
					<ul class="breadcrumb">
						<li class="breadcrumb__item"><a href="/dashboard">Home</a></li>
						<li class="breadcrumb__item breadcrumb__item--active">Profile</li>
					</ul>
					<!-- end breadcrumb -->
				</div>
			</div>
		</div>
	</div>
</section>
<!-- end page title -->

<!-- content -->
<div class="content content--profile">
	<!-- profile -->
	<div class="profile">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="profile__content">
						<div class="profile__user">
							<div class="profile__meta">
								<h3>{{loggedUser['first_name']}} {{loggedUser['last_name']}}</h3>
							</div>
						</div>

						<!-- content tabs nav -->
						<ul class="nav nav-tabs content__tabs content__tabs--profile" id="content__tabs" role="tablist">
							<li class="nav-item">
								<a class="nav-link active" data-toggle="tab" href="#tab-1" role="tab"
									aria-controls="tab-1" aria-selected="true">Movies</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" data-toggle="tab" href="#tab-3" role="tab" aria-controls="tab-3"
									aria-selected="false">Profile</a>
							</li>
						</ul>
						<!-- end content tabs nav -->

						<!-- content mobile tabs nav -->
						<div class="content__mobile-tabs content__mobile-tabs--profile" id="content__mobile-tabs">
							<div class="content__mobile-tabs-btn dropdown-toggle" role="navigation" id="mobile-tabs"
								data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<input type="button" value="Profile">
								<span></span>
							</div>

							<div class="content__mobile-tabs-menu dropdown-menu" aria-labelledby="mobile-tabs">
								<ul class="nav nav-tabs" role="tablist">
									<li class="nav-item"><a class="nav-link active" id="1-tab" data-toggle="tab"
											href="#tab-1" role="tab" aria-controls="tab-1"
											aria-selected="true">Movie</a>
									</li>
									<li class="nav-item"><a class="nav-link" id="3-tab" data-toggle="tab" href="#tab-3"
											role="tab" aria-controls="tab-3" aria-selected="false">Profile</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end profile -->

	<div class="container">
		<!-- content tabs -->
		<div class="tab-content">
			<div class="tab-pane fade show active" id="tab-1" role="tabpanel" aria-labelledby="1-tab">
				<div class="row row--grid">

					<!-- dashbox -->
					<div style="margin: auto;" class="col-12 col-xl-6">
						<div class="dashbox">
							<div class="dashbox__title">
								<h3><i class="icon ion-ios-film"></i>Your Watchlist</h3>
							</div>

							<div class="dashbox__table-wrap">
								{%if watchlist%}
								<table class="main__table main__table--dash">
									<thead>
										<tr>
											<th>TITLE</th>
											<th>RATING</th>
											<th>RELEASE DATE</th>
											<th>WATCHLIST</th>
										</tr>
									</thead>
									<tbody>
										{% for movie in watchlist %}
										<tr>
											<td>
												<div class="main__table-text"><a
														href="/details/{{movie['movie_id']}}">{{movie['title']}}</a>
												</div>
											</td>
											<td>
												<div class="main__table-text main__table-text--rate"><i
														class="icon ion-ios-star"></i>{{movie['rating']|round(1)}}</div>
											</td>
											<td>
												<div class="main__table-text">{{movie['release_year']}}</div>
											</td>
											<td class="main_table-text">
												<div class="main__table-text">
													<form action="/remove/{{movie['movie_id']}}" method="post">
														<button class="header__sign-in" type="submit"
															style="color: white;"><i
																class="icon ion-ios-trash"></i><span>Remove</span></button>
													</form>
												</div>
											</td>
										</tr>
										{%endfor%}
									</tbody>
								</table>
								{% else %}
								<h4 style="color: white;"> There are no movies in your watchlist</h4>
								{% endif %}
							</div>
						</div>
					</div>
					<!-- end dashbox -->
				</div>
			</div>
			<div class="tab-pane fade" id="tab-3" role="tabpanel" aria-labelledby="3-tab">
				<div class="row">
					<!-- details form -->
					<div class="col-12 col-lg-6">
						<form action="/editprofile" method="post" class="form form--profile">
							<div class="row row--form">
								<div class="col-12">
									<h4 class="form__title">Profile details</h4>
								</div>
								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="firstname">First Name</label>
										<input id="firstname" type="text" name="first_name" class="form__input"
											value="{{loggedUser['first_name']}}">
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="lastname">Last Name</label>
										<input id="lastname" type="text" name="last_name" class="form__input"
											value="{{loggedUser['last_name']}}">
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="email">Email</label>
										<input id="email" type="text" name="email" class="form__input"
											value="{{loggedUser['email']}}">
									</div>
								</div>

								<div class="col-12">
									<button class="form__btn" type="submit">Save</button>
								</div>
							</div>
						</form>
					</div>
					<!-- end details form -->

					<!-- password form -->
					<div class="col-12 col-lg-6">
						<form action="/editpassword" method="post" class="form form--profile">
							<div class="row row--form">
								<div class="col-12">
									<h4 class="form__title">Change password</h4>
								</div>

								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="oldpass">Old password</label>
										<input id="oldpass" type="password" name="oldpass" class="form__input">
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="newpass">New password</label>
										<input id="newpass" type="password" name="newpass" class="form__input">
									</div>
								</div>

								<div class="col-12 col-md-6 col-lg-12 col-xl-6">
									<div class="form__group">
										<label class="form__label" for="confirmpass">Confirm new password</label>
										<input id="confirmpass" type="password" name="confirmpass" class="form__input">
									</div>
								</div>

								<div class="col-12">
									<button class="form__btn" type="submit">Change</button>
								</div>
							</div>
						</form>
					</div>
					<!-- end password form -->
				</div>
			</div>
		</div>
		<!-- end content tabs -->
	</div>
</div>
<!-- end content -->
{% endblock %}